.ansible
.cache
.cert/nm-openvpn
.config/autostart/org.gnome.World.PikaBackup.desktop
.config/cef_user_data/Dictionaries
.config/dconf
.config/enchant
.config/evolution/sources
.config/gnome-boxes/sources
.config/ibus/bus
.config/icedtea-web
.config/libreoffice/4
.config/nvim/plugin/packer_compiled.lua
.config/yarn/global
.config/zsh/.zcompdump
.config/zsh/history
.config/.gsd-keyboard.settings-ported
.config/dleyna-renderer-service.conf
.config/gnome-initial-setup-done
.factorio
.gnupg
.java/fonts/11.0.17
.npm/_logs
.pki/nssdb
.platformio
.steam
Apps/libfprint
Downloads
Nextcloud
Projects/system-installer
.config/VSCodium/Cache/Cache_Data
.config/VSCodium/CachedData
.config/cni/net.d
.config/gnome-control-center/backgrounds
.config/lazygit/state.yml
.config/protonvpn/user_configurations.json
.config/pulse/cookie
.config/steamtinkerlaunch
.config/totem/state.ini
.config/copr
.local/lib/python3.10/site-packages
.local/lib/python3.11/site-packages
.local/share/Steam/appcache
.local/share/Steam
.local/share/Trash
.local/share/applications
.local/share/containers
.local/share/evolution
.local/share/flatpak
.local/share/folks
.local/share/gnome-boxes/images
.mozilla
.vscode-oss/extensions/catppuccin.catppuccin-vsc-2.5.0-universal
.vscode-oss/extensions/marlosirapuan.nord-deep-0.1.623-universal
.vscode-oss/extensions/ms-vscode.cpptools-1.13.3
.vscode-oss/extensions/ms-vscode.cpptools-themes-1.0.0-universal
.vscode-oss/extensions/ntbbloodbath.doom-one-0.1.1
.vscode-oss/extensions/platformio.platformio-ide-2.5.5
.vscode-oss/extensions/zhuangtongfa.material-theme-3.15.6-universal
.var/app/com.microsoft.Edge
.var/app/com.nextcloud.desktopclient.nextcloud/cache
.var/app/io.podman_desktop.PodmanDesktop/cache
.var/app/io.podman_desktop.PodmanDesktop/config/Podman Desktop/Cache/Cache_Data
.var/app/net.davidotek.pupgui2/cache/fontconfig
.var/app/org.gnome.World.PikaBackup/cache
.var/app/org.keepassxc.KeePassXC/cache
.yarnrc
.wget-hsts
.steampid
.steampath
.lesshst
.config/freerdp/known_hosts2
.config/pop-shell/config.json
.config/systemd/user/gnome-session.target.wants/gnome-remote-desktop.service
.config/systemd/user/protonvpn_reconnect.service
.config/connections.db
.ssh/personal.keyx
.ssh/known_hosts
Projects
.config/ChatGPT
.config/LycheeSlicer
.config/VSCodium/CachedConfigurations/defaults/configurationDefaultsOverrides
.config/VSCodium/CachedExtensionVSIXs
.config/VSCodium/CachedExtensions
.config/VSCodium/CachedProfilesData/__default__profile__
.config/VSCodium/Code Cache
.config/VSCodium/Crashpad
.config/VSCodium/DawnCache
.config/VSCodium/Dictionaries
.config/VSCodium/GPUCache
.config/VSCodium/Local Storage/leveldb
.config/VSCodium/Service Worker
.config/VSCodium/Session Storage
.config/VSCodium
.config/nrfconnect
.npm
.nrfconnect-apps
.oracle_jre_usage
.swt
.var/app
Screenshots
crp
dockertest
snap/marksman
test
.config/ckb-next
.config/geary/account_01
.config/BraveSoftware/Brave-Browser
.config/nvim/lua/.luarc.json
.config/Thunar/uca.xml
.config/eog/accels
.config/gthumb/active_filter.xml
.config/gthumb/filters.xml
.config/gthumb/history.xbel
.config/libvirt
.config/plank/dock1/launchers
.cookiecutter_replay
.cookiecutters/cookiecutter-django
.java/fonts/11.0.19
.thunderbird
.vscode-oss
.python_history
Apps/nrfconnect-4.1.1-x86_64_a151cc738840b97989d7105244142da8.appimage
Apps/LycheeSlicer-5.0.1.AppImage
Apps
.docker
.config/tmux/plugins
.ssh/authorized_keys
.themes/Catppuccin-Frappe-Standard-Blue-Dark
.themes/Catppuccin-Frappe-Standard-Blue-Dark-hdpi/xfwm4
.themes/Catppuccin-Frappe-Standard-Blue-Dark-xhdpi/xfwm4
image001.png
image007.png
image007.png
image002.png
image003.png
image005.png
image006.png
.local/bin
.local/include/python3.10/greenlet
.local/share/Valve Corporation/SteamLink
.local/share/bottles
.local/share/doc/keepmenu
.local/share/epiphany
.local/share/geary/account_01
.local/share/gnome-photos/tracker3/private
.local/share/gnome-remote-desktop
.local/share/gnome-settings-daemon
.local/share/gnome-shell
.local/share/grilo-plugins
.local/share/gvfs-metadata
.local/share/ibus-typing-booster
.local/share/icc
.local/share/icons/hicolor
.local/share/keyrings
.local/share/man/man1
.local/share/mc
.local/share/mime
.local/share/nautilus
.local/share/nvim
.local/share/org.gnome.TextEditor
.local/share/tmux/resurrect
.local/share/virtualenv/wheel/3.11/image/1/CopyPipInstall
.local/share/vulkan/implicit_layer.d
.local/share/webkitgtk/storage
.local/share/xorg
.local/share/yadm/repo.git
.local/share/yelp
.local/share/recently-used.xbel
.local/state
.local/share/backgrounds
.config/systemd/user/default.target.wants/appimagelauncherd.service
.config/btop
dotfiles-old2
.android
.cachier
.config/GNS3/2.2
.config/Logic
.config/TvB
.config/VirtualBox
.config/btop
.config/btop
.config/htop/htoprc
.config/mc/ini
.config/xfce4
.config/GNOME-xdg-terminals.list
.config/monitors.xml
.config/monitors.xml~
.config/sealert.conf
.gradle
.java
.local/share/circup
.local/share/jupyter/kernels/mu_venv-311-20230708-104923
.local/share/libsigrokdecode/decoders
.local/share/libvirt/images
.local/share/mu
.m2/repository/org/jetbrains/externalAnnotations/junit/junit
.config/menus
.config/sigrok
.config/QtProject.conf
.ssh/known_hosts.old
.vmware
VirtualBox VMs/GNS3 VM
vmware
.pvs
.picocom_history
.ovftool.ssldb
.iourc
.micropy
.ICEauthority
.bash_history
.config/qt5ct
.config/btop/btop.conf
.config/htop/htoprc
.anaconda/navigator
.conda
.continuum/anaconda-client
anaconda3
.condarc
.bashrc
